In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# 한글 설정
# pip install koreanize_matplotlib
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)
root = 'C:/workspace/python/project/data/'

In [2]:
'''
서울시 집값 데이터 프레임
'''
seoul_2021_df = pd.read_csv(root + '부동산_Data/부동산_2021.csv', encoding = 'cp949')
seoul_2022_df = pd.read_csv(root + '부동산_Data/부동산_2022.csv', encoding = 'cp949')
seoul_2023_df = pd.read_csv(root + '부동산_Data/부동산_2023.csv', encoding = 'cp949')

In [3]:
# 서울시 집값 데이터 확인
display(seoul_2021_df.info())
print()
print('+=' * 20)
print()
display(seoul_2022_df.info())
print()
print('+=' * 20)
print()
display(seoul_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138696 entries, 0 to 138695
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              138696 non-null  int64
 1   자치구코드             138696 non-null  int64
 2   자치구명              138696 non-null  object
 3   법정동코드             138696 non-null  int64
 4   법정동명              138696 non-null  object
 5   지번구분              128407 non-null  float64
 6   지번구분명             128407 non-null  object
 7   본번                128412 non-null  object
 8   부번                128412 non-null  float64
 9   건물명               128406 non-null  object
 10  계약일               138696 non-null  int64
 11  물건금액(만원)          138696 non-null  int64
 12  건물면적(㎡)           138696 non-null  float64
 13  토지면적(㎡)           137997 non-null  float64
 14  층                 128423 non-null  float64
 15  권리구분              330 non-null     object
 16  취소일               6264 non-null    float64
 17  건축년도              137434 non-null  float64
 18  건물용도              138696 non-null  object
 19  신고구분              11954 non-null   object
 20  신고한 개업공인중개사 시군구명  8604 non-null    object
dtypes: float64(7), int64(5), object(9)
memory usage: 22.2+ MB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66327 entries, 0 to 66326
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              66327 non-null  int64
 1   자치구코드             66327 non-null  int64
 2   자치구명              66327 non-null  object
 3   법정동코드             66327 non-null  int64
 4   법정동명              66327 non-null  object
 5   지번구분              61424 non-null  float64
 6   지번구분명             61424 non-null  object
 7   본번                61427 non-null  float64
 8   부번                61427 non-null  float64
 9   건물명               61403 non-null  object
 10  계약일               66327 non-null  int64
 11  물건금액(만원)          66327 non-null  int64
 12  건물면적(㎡)           66327 non-null  float64
 13  토지면적(㎡)           66323 non-null  float64
 14  층                 61435 non-null  float64
 15  권리구분              88 non-null     object
 16  취소일               4422 non-null   float64
 17  건축년도              65875 non-null  float64
 18  건물용도              66327 non-null  object
 19  신고구분              66111 non-null  object
 20  신고한 개업공인중개사 시군구명  49132 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 10.6+ MB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69785 entries, 0 to 69784
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              69785 non-null  int64
 1   자치구코드             69785 non-null  int64
 2   자치구명              69785 non-null  object
 3   법정동코드             69785 non-null  int64
 4   법정동명              69785 non-null  object
 5   지번구분              67020 non-null  float64
 6   지번구분명             67020 non-null  object
 7   본번                67020 non-null  float64
 8   부번                67020 non-null  float64
 9   건물명               67024 non-null  object
 10  계약일               69785 non-null  int64
 11  물건금액(만원)          69785 non-null  int64
 12  건물면적(㎡)           69785 non-null  float64
 13  토지면적(㎡)           69715 non-null  float64
 14  층                 67033 non-null  float64
 15  권리구분              602 non-null    object
 16  취소일               3515 non-null   float64
 17  건축년도              69404 non-null  float64
 18  건물용도              69785 non-null  object
 19  신고구분              69765 non-null  object
 20  신고한 개업공인중개사 시군구명  57515 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 11.2+ MB

None

In [4]:
# dict_keys(['2019년 12월 31일 기준', '2020년 12월 31일 기준', '2021년 12월 31일 기준', '2022년 12월 31일 기준', '2023년 12월 4일 기준'])
all_bus_stop_dict = pd.read_excel(root + '교통_Data/버스_정류소현황(2019~2023년).xlsx', sheet_name=None)

In [5]:
'''
버스 정류장 데이터 프레임
'''
bus_stop_2021_df = all_bus_stop_dict['2021년 12월 31일 기준']
bus_stop_2022_df = all_bus_stop_dict['2022년 12월 31일 기준']
bus_stop_2023_df = all_bus_stop_dict['2023년 12월 4일 기준']

In [6]:
# 서울시 버스정류장 정보 확인
display(bus_stop_2021_df.info())
print()
print('+=' * 20)
print()
display(bus_stop_2022_df.info())
print()
print('+=' * 20)
print()
display(bus_stop_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     10876 non-null  int64
 1   행정구명    10876 non-null  object
 2   ARS-ID  10876 non-null  int64
 3   정류소명    10876 non-null  object
 4   노선수     10876 non-null  int64
dtypes: int64(3), object(2)
memory usage: 425.0+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11177 entries, 0 to 11176
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     11177 non-null  int64
 1   행정구명    11177 non-null  object
 2   ARS-ID  11177 non-null  int64
 3   정류소명    11177 non-null  object
 4   노선수     11177 non-null  int64
dtypes: int64(3), object(2)
memory usage: 436.7+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11198 entries, 0 to 11197
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     11198 non-null  int64
 1   행정구명    11198 non-null  object
 2   ARS-ID  11198 non-null  int64
 3   정류소명    11198 non-null  object
 4   노선수     11198 non-null  int64
dtypes: int64(3), object(2)
memory usage: 437.6+ KB

None

In [7]:
'''
지하철 데이터 프레임
'''
train_2021_df = pd.read_csv(root + '교통_Data/서울시 지역별 지하철역 정보_2021.csv', encoding = 'cp949')
train_2022_df = pd.read_csv(root + '교통_Data/서울시 지역별 지하철역 정보_2022.csv', encoding = 'cp949')
train_2023_df = pd.read_csv(root + '교통_Data/서울시 지역별 지하철역 정보_2023.csv', encoding = 'cp949')

In [8]:
# 지하철 정보 확인
train_2021_df.info()
print()
print('+=' * 20)
print()
train_2022_df.info()
print()
print('+=' * 20)
print()
train_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       32 non-null     int64
 1   자치구      32 non-null     object
 2   해당역(호선)  32 non-null     object
 3   역개수      32 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      30 non-null     int64
 1   자치구     30 non-null     object
 2   역명(호선)  30 non-null     object
 3   역수      30 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      30 non-null     object
 1   해당역(호선)  30 non-null     object
 2   역개수      30 non-null     int64
dtypes: int64(1), object(2)
memory usage: 852.0+ bytes

In [9]:
'''
주거실태 데이터 프레임
'''
abode_family_df = pd.read_csv(root + '주거실태_Data/거처의_종류_및_거처__가구__가구원__시군구_20241120174650.csv', encoding = 'cp949')
abode_house_category = pd.read_csv(root + '주거실태_Data/주택의_종류별_주택__읍면동_연도_끝자리_0__5___시군구_그_외_연도__20241120174542.csv', encoding = 'cp949')

In [10]:
# 주거실태 정보 확인
abode_family_df.info()
print()
print('+=' * 20)
print()
abode_house_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(시군구)  235 non-null    object
 1   거처의 종류      235 non-null    object
 2   2021        235 non-null    object
 3   2021.1      235 non-null    object
 4   2021.2      235 non-null    object
 5   2021.3      235 non-null    object
 6   2021.4      235 non-null    object
 7   2021.5      235 non-null    object
 8   2021.6      235 non-null    object
 9   2021.7      235 non-null    object
 10  2021.8      235 non-null    object
 11  2021.9      235 non-null    object
 12  2021.10     235 non-null    object
 13  2022        235 non-null    object
 14  2022.1      235 non-null    object
 15  2022.2      235 non-null    object
 16  2022.3      235 non-null    object
 17  2022.4      235 non-null    object
 18  2022.5      235 non-null    object
 19  2022.6      235 non-null    object
 20  2022.7      235 non-null    object
 21  2022.8      235 non-null    object
 22  2022.9      235 non-null    object
 23  2022.10     235 non-null    object
 24  2023        235 non-null    object
 25  2023.1      235 non-null    object
 26  2023.2      235 non-null    object
 27  2023.3      235 non-null    object
 28  2023.4      235 non-null    object
 29  2023.5      235 non-null    object
 30  2023.6      235 non-null    object
 31  2023.7      235 non-null    object
 32  2023.8      235 non-null    object
 33  2023.9      235 non-null    object
 34  2023.10     235 non-null    object
dtypes: object(35)
memory usage: 64.4+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(읍면동)  27 non-null     object
 1   2021        27 non-null     object
 2   2021.1      27 non-null     object
 3   2021.2      27 non-null     object
 4   2021.3      27 non-null     object
 5   2021.4      27 non-null     object
 6   2021.5      27 non-null     object
 7   2021.6      27 non-null     object
 8   2021.7      27 non-null     object
 9   2021.8      27 non-null     object
 10  2022        27 non-null     object
 11  2022.1      27 non-null     object
 12  2022.2      27 non-null     object
 13  2022.3      27 non-null     object
 14  2022.4      27 non-null     object
 15  2022.5      27 non-null     object
 16  2022.6      27 non-null     object
 17  2022.7      27 non-null     object
 18  2022.8      27 non-null     object
 19  2023        27 non-null     object
 20  2023.1      27 non-null     object
 21  2023.2      27 non-null     object
 22  2023.3      27 non-null     object
 23  2023.4      27 non-null     object
 24  2023.5      27 non-null     object
 25  2023.6      27 non-null     object
 26  2023.7      27 non-null     object
 27  2023.8      27 non-null     object
dtypes: object(28)
memory usage: 6.0+ KB

In [11]:
'''
공원 데이터 프레임
'''
park_2021_df = pd.read_excel(root + '공원_Data/공원현황_2021.xlsx')
park_2022_df = pd.read_excel(root + '공원_Data/공원현황_2022.xlsx')
park_2023_df = pd.read_excel(root + '공원_Data/공원현황_2023.xlsx')

In [13]:
# 공원 정보 확인
display(park_2021_df.info())
print()
print('+=' * 20)
print()
display(park_2022_df.info())
print()
print('+=' * 20)
print()
display(park_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 47 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  5 non-null      object
 1   자치구별(2)  31 non-null     object
 2   2021     31 non-null     object
 3   2021.1   31 non-null     object
 4   2021.2   31 non-null     object
 5   2021.3   31 non-null     object
 6   2021.4   31 non-null     object
 7   2021.5   31 non-null     object
 8   2021.6   31 non-null     object
 9   2021.7   31 non-null     object
 10  2021.8   31 non-null     object
 11  2021.9   31 non-null     object
 12  2021.10  31 non-null     object
 13  2021.11  31 non-null     object
 14  2021.12  31 non-null     object
 15  2021.13  31 non-null     object
 16  2021.14  31 non-null     object
 17  2021.15  31 non-null     object
 18  2021.16  31 non-null     object
 19  2021.17  31 non-null     object
 20  2021.18  31 non-null     object
 21  2021.19  31 non-null     object
 22  2021.20  31 non-null     object
 23  2021.21  31 non-null     object
 24  2021.22  31 non-null     object
 25  2021.23  31 non-null     object
 26  2021.24  31 non-null     object
 27  2021.25  31 non-null     object
 28  2021.26  31 non-null     object
 29  2021.27  31 non-null     object
 30  2021.28  31 non-null     object
 31  2021.29  31 non-null     object
 32  2021.30  31 non-null     object
 33  2021.31  31 non-null     object
 34  2021.32  31 non-null     object
 35  2021.33  31 non-null     object
 36  2021.34  31 non-null     object
 37  2021.35  31 non-null     object
 38  2021.36  31 non-null     object
 39  2021.37  31 non-null     object
 40  2021.38  31 non-null     object
 41  2021.39  31 non-null     object
 42  2021.40  31 non-null     object
 43  2021.41  31 non-null     object
 44  2021.42  31 non-null     object
 45  2021.43  31 non-null     object
 46  2021.44  31 non-null     object
dtypes: object(47)
memory usage: 11.5+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 38 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  5 non-null      object
 1   자치구별(2)  31 non-null     object
 2   2022     31 non-null     object
 3   2022.1   31 non-null     object
 4   2022.2   31 non-null     object
 5   2022.3   31 non-null     object
 6   2022.4   31 non-null     object
 7   2022.5   31 non-null     object
 8   2022.6   31 non-null     object
 9   2022.7   31 non-null     object
 10  2022.8   31 non-null     object
 11  2022.9   31 non-null     object
 12  2022.10  31 non-null     object
 13  2022.11  31 non-null     object
 14  2022.12  31 non-null     object
 15  2022.13  31 non-null     object
 16  2022.14  31 non-null     object
 17  2022.15  31 non-null     object
 18  2022.16  31 non-null     object
 19  2022.17  31 non-null     object
 20  2022.18  31 non-null     object
 21  2022.19  31 non-null     object
 22  2022.20  31 non-null     object
 23  2022.21  31 non-null     object
 24  2022.22  31 non-null     object
 25  2022.23  31 non-null     object
 26  2022.24  31 non-null     object
 27  2022.25  31 non-null     object
 28  2022.26  31 non-null     object
 29  2022.27  31 non-null     object
 30  2022.28  31 non-null     object
 31  2022.29  31 non-null     object
 32  2022.30  31 non-null     object
 33  2022.31  31 non-null     object
 34  2022.32  31 non-null     object
 35  2022.33  31 non-null     object
 36  2022.34  31 non-null     object
 37  2022.35  31 non-null     object
dtypes: object(38)
memory usage: 9.3+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 38 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  5 non-null      object
 1   자치구별(2)  31 non-null     object
 2   2023     31 non-null     object
 3   2023.1   31 non-null     object
 4   2023.2   31 non-null     object
 5   2023.3   31 non-null     object
 6   2023.4   31 non-null     object
 7   2023.5   31 non-null     object
 8   2023.6   31 non-null     object
 9   2023.7   31 non-null     object
 10  2023.8   31 non-null     object
 11  2023.9   31 non-null     object
 12  2023.10  31 non-null     object
 13  2023.11  31 non-null     object
 14  2023.12  31 non-null     object
 15  2023.13  31 non-null     object
 16  2023.14  31 non-null     object
 17  2023.15  31 non-null     object
 18  2023.16  31 non-null     object
 19  2023.17  31 non-null     object
 20  2023.18  31 non-null     object
 21  2023.19  31 non-null     object
 22  2023.20  31 non-null     object
 23  2023.21  31 non-null     object
 24  2023.22  31 non-null     object
 25  2023.23  31 non-null     object
 26  2023.24  31 non-null     object
 27  2023.25  31 non-null     object
 28  2023.26  31 non-null     object
 29  2023.27  31 non-null     object
 30  2023.28  31 non-null     object
 31  2023.29  31 non-null     object
 32  2023.30  31 non-null     object
 33  2023.31  31 non-null     object
 34  2023.32  31 non-null     object
 35  2023.33  31 non-null     object
 36  2023.34  31 non-null     object
 37  2023.35  31 non-null     object
dtypes: object(38)
memory usage: 9.3+ KB

None

In [14]:
'''
유통업체 데이터 프레임
'''
distributor_2021_df = pd.read_excel(root + '유통업체_Data/유통업체현황_2021.xlsx')
distributor_2022_df = pd.read_excel(root + '유통업체_Data/유통업체현황_2022.xlsx')
distributor_2023_df = pd.read_excel(root + '유통업체_Data/유통업체현황_2023.xlsx')

In [15]:
# 유통업체 정보 확인
display(distributor_2021_df.info())
print()
print('+=' * 20)
print()
display(distributor_2022_df.info())
print()
print('+=' * 20)
print()
display(distributor_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    4 non-null      object
 1   동별(2)    29 non-null     object
 2   2021     29 non-null     object
 3   2021.1   29 non-null     object
 4   2021.2   29 non-null     object
 5   2021.3   29 non-null     object
 6   2021.4   29 non-null     object
 7   2021.5   29 non-null     object
 8   2021.6   29 non-null     object
 9   2021.7   29 non-null     object
 10  2021.8   29 non-null     object
 11  2021.9   29 non-null     object
 12  2021.10  29 non-null     object
 13  2021.11  29 non-null     object
 14  2021.12  29 non-null     object
 15  2021.13  29 non-null     object
 16  2021.14  29 non-null     object
 17  2021.15  29 non-null     object
 18  2021.16  29 non-null     object
 19  2021.17  29 non-null     object
 20  2021.18  29 non-null     object
 21  2021.19  29 non-null     object
 22  2021.20  29 non-null     object
dtypes: object(23)
memory usage: 5.3+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    4 non-null      object
 1   동별(2)    29 non-null     object
 2   2022     29 non-null     object
 3   2022.1   29 non-null     object
 4   2022.2   29 non-null     object
 5   2022.3   29 non-null     object
 6   2022.4   29 non-null     object
 7   2022.5   29 non-null     object
 8   2022.6   29 non-null     object
 9   2022.7   29 non-null     object
 10  2022.8   29 non-null     object
 11  2022.9   29 non-null     object
 12  2022.10  29 non-null     object
 13  2022.11  29 non-null     object
 14  2022.12  29 non-null     object
 15  2022.13  29 non-null     object
 16  2022.14  29 non-null     object
 17  2022.15  29 non-null     object
 18  2022.16  29 non-null     object
 19  2022.17  29 non-null     object
 20  2022.18  29 non-null     object
 21  2022.19  29 non-null     object
 22  2022.20  29 non-null     object
dtypes: object(23)
memory usage: 5.3+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    4 non-null      object
 1   동별(2)    29 non-null     object
 2   2023     29 non-null     object
 3   2023.1   29 non-null     object
 4   2023.2   29 non-null     object
 5   2023.3   29 non-null     object
 6   2023.4   29 non-null     object
 7   2023.5   29 non-null     object
 8   2023.6   29 non-null     object
 9   2023.7   29 non-null     object
 10  2023.8   29 non-null     object
 11  2023.9   29 non-null     object
 12  2023.10  29 non-null     object
 13  2023.11  29 non-null     object
 14  2023.12  29 non-null     object
 15  2023.13  29 non-null     object
 16  2023.14  29 non-null     object
 17  2023.15  29 non-null     object
 18  2023.16  29 non-null     object
 19  2023.17  29 non-null     object
 20  2023.18  29 non-null     object
 21  2023.19  29 non-null     object
 22  2023.20  29 non-null     object
dtypes: object(23)
memory usage: 5.3+ KB

None

In [16]:
'''
의료기간 데이터 프레임
'''
medical_2021_df = pd.read_excel(root + '의료기관_Data/의료기관_2021.xlsx')
medical_2022_df = pd.read_excel(root + '의료기관_Data/의료기관_2022.xlsx')
medical_2023_df = pd.read_excel(root + '의료기관_Data/의료기관_2023.xlsx')

In [17]:
# 의료기간 정보 확인
display(medical_2021_df.info())
print()
print('+=' * 20)
print()
display(medical_2022_df.info())
print()
print('+=' * 20)
print()
display(medical_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2021     29 non-null     object
 3   2021.1   29 non-null     object
 4   2021.2   29 non-null     object
 5   2021.3   29 non-null     object
 6   2021.4   29 non-null     object
 7   2021.5   29 non-null     object
 8   2021.6   29 non-null     object
 9   2021.7   29 non-null     object
 10  2021.8   29 non-null     object
 11  2021.9   29 non-null     object
 12  2021.10  29 non-null     object
 13  2021.11  29 non-null     object
 14  2021.12  29 non-null     object
 15  2021.13  29 non-null     object
 16  2021.14  29 non-null     object
 17  2021.15  29 non-null     object
 18  2021.16  29 non-null     object
 19  2021.17  29 non-null     object
 20  2021.18  29 non-null     object
 21  2021.19  29 non-null     object
 22  2021.20  29 non-null     object
 23  2021.21  29 non-null     object
 24  2021.22  29 non-null     object
 25  2021.23  29 non-null     object
 26  2021.24  29 non-null     object
 27  2021.25  29 non-null     object
 28  2021.26  29 non-null     object
 29  2021.27  29 non-null     object
dtypes: object(30)
memory usage: 6.9+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2022     29 non-null     object
 3   2022.1   29 non-null     object
 4   2022.2   29 non-null     object
 5   2022.3   29 non-null     object
 6   2022.4   29 non-null     object
 7   2022.5   29 non-null     object
 8   2022.6   29 non-null     object
 9   2022.7   29 non-null     object
 10  2022.8   29 non-null     object
 11  2022.9   29 non-null     object
 12  2022.10  29 non-null     object
 13  2022.11  29 non-null     object
 14  2022.12  29 non-null     object
 15  2022.13  29 non-null     object
 16  2022.14  29 non-null     object
 17  2022.15  29 non-null     object
 18  2022.16  29 non-null     object
 19  2022.17  29 non-null     object
 20  2022.18  29 non-null     object
 21  2022.19  29 non-null     object
 22  2022.20  29 non-null     object
 23  2022.21  29 non-null     object
 24  2022.22  29 non-null     object
 25  2022.23  29 non-null     object
 26  2022.24  29 non-null     object
 27  2022.25  29 non-null     object
 28  2022.26  29 non-null     object
 29  2022.27  29 non-null     object
 30  2022.28  29 non-null     object
 31  2022.29  29 non-null     object
dtypes: object(32)
memory usage: 7.4+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2023     29 non-null     object
 3   2023.1   29 non-null     object
 4   2023.2   29 non-null     object
 5   2023.3   29 non-null     object
 6   2023.4   29 non-null     object
 7   2023.5   29 non-null     object
 8   2023.6   29 non-null     object
 9   2023.7   29 non-null     object
 10  2023.8   29 non-null     object
 11  2023.9   29 non-null     object
 12  2023.10  29 non-null     object
 13  2023.11  29 non-null     object
 14  2023.12  29 non-null     object
 15  2023.13  29 non-null     object
 16  2023.14  29 non-null     object
 17  2023.15  29 non-null     object
 18  2023.16  29 non-null     object
 19  2023.17  29 non-null     object
 20  2023.18  29 non-null     object
 21  2023.19  29 non-null     object
 22  2023.20  29 non-null     object
 23  2023.21  29 non-null     object
 24  2023.22  29 non-null     object
 25  2023.23  29 non-null     object
 26  2023.24  29 non-null     object
 27  2023.25  29 non-null     object
 28  2023.26  29 non-null     object
 29  2023.27  29 non-null     object
 30  2023.28  29 non-null     object
 31  2023.29  29 non-null     object
dtypes: object(32)
memory usage: 7.4+ KB

None