In [787]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# 한글 설정
# pip install koreanize_matplotlib
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)
# root = 'C:/workspace/python/project/data/'
root = 'G:/workspace/python/python_project/data/'

# 구글드라이브 : https://drive.google.com/drive/folders/1zIzm1o8-3uxcWSU2DoWpB8aV0Oxdfz_P?usp=sharing

In [788]:
'''
서울시 집값 데이터 프레임
'''
seoul_2021_df = pd.read_csv(root + '부동산_Data/부동산_2021.csv', encoding = 'cp949')
seoul_2022_df = pd.read_csv(root + '부동산_Data/부동산_2022.csv', encoding = 'cp949')
seoul_2023_df = pd.read_csv(root + '부동산_Data/부동산_2023.csv', encoding = 'cp949')

In [789]:
# 서울시 집값 데이터 확인
display(seoul_2021_df.info())
print()
print('+=' * 20)
print()
display(seoul_2022_df.info())
print()
print('+=' * 20)
print()
display(seoul_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138696 entries, 0 to 138695
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              138696 non-null  int64
 1   자치구코드             138696 non-null  int64
 2   자치구명              138696 non-null  object
 3   법정동코드             138696 non-null  int64
 4   법정동명              138696 non-null  object
 5   지번구분              128407 non-null  float64
 6   지번구분명             128407 non-null  object
 7   본번                128412 non-null  object
 8   부번                128412 non-null  float64
 9   건물명               128406 non-null  object
 10  계약일               138696 non-null  int64
 11  물건금액(만원)          138696 non-null  int64
 12  건물면적(㎡)           138696 non-null  float64
 13  토지면적(㎡)           137997 non-null  float64
 14  층                 128423 non-null  float64
 15  권리구분              330 non-null     object
 16  취소일               6264 non-null    float64
 17  건축년도              137434 non-null  float64
 18  건물용도              138696 non-null  object
 19  신고구분              11954 non-null   object
 20  신고한 개업공인중개사 시군구명  8604 non-null    object
dtypes: float64(7), int64(5), object(9)
memory usage: 22.2+ MB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66327 entries, 0 to 66326
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              66327 non-null  int64
 1   자치구코드             66327 non-null  int64
 2   자치구명              66327 non-null  object
 3   법정동코드             66327 non-null  int64
 4   법정동명              66327 non-null  object
 5   지번구분              61424 non-null  float64
 6   지번구분명             61424 non-null  object
 7   본번                61427 non-null  float64
 8   부번                61427 non-null  float64
 9   건물명               61403 non-null  object
 10  계약일               66327 non-null  int64
 11  물건금액(만원)          66327 non-null  int64
 12  건물면적(㎡)           66327 non-null  float64
 13  토지면적(㎡)           66323 non-null  float64
 14  층                 61435 non-null  float64
 15  권리구분              88 non-null     object
 16  취소일               4422 non-null   float64
 17  건축년도              65875 non-null  float64
 18  건물용도              66327 non-null  object
 19  신고구분              66111 non-null  object
 20  신고한 개업공인중개사 시군구명  49132 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 10.6+ MB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69785 entries, 0 to 69784
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              69785 non-null  int64
 1   자치구코드             69785 non-null  int64
 2   자치구명              69785 non-null  object
 3   법정동코드             69785 non-null  int64
 4   법정동명              69785 non-null  object
 5   지번구분              67020 non-null  float64
 6   지번구분명             67020 non-null  object
 7   본번                67020 non-null  float64
 8   부번                67020 non-null  float64
 9   건물명               67024 non-null  object
 10  계약일               69785 non-null  int64
 11  물건금액(만원)          69785 non-null  int64
 12  건물면적(㎡)           69785 non-null  float64
 13  토지면적(㎡)           69715 non-null  float64
 14  층                 67033 non-null  float64
 15  권리구분              602 non-null    object
 16  취소일               3515 non-null   float64
 17  건축년도              69404 non-null  float64
 18  건물용도              69785 non-null  object
 19  신고구분              69765 non-null  object
 20  신고한 개업공인중개사 시군구명  57515 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 11.2+ MB

None

In [790]:
# dict_keys(['2019년 12월 31일 기준', '2020년 12월 31일 기준', '2021년 12월 31일 기준', '2022년 12월 31일 기준', '2023년 12월 4일 기준'])
all_bus_stop_dict = pd.read_excel(root + '교통_Data/버스_정류소현황(2019~2023년).xlsx', sheet_name=None)

In [791]:
'''
버스 정류장 데이터 프레임
'''
bus_stop_2021_df = all_bus_stop_dict['2021년 12월 31일 기준']
bus_stop_2022_df = all_bus_stop_dict['2022년 12월 31일 기준']
bus_stop_2023_df = all_bus_stop_dict['2023년 12월 4일 기준']

In [792]:
# 서울시 버스정류장 정보 확인
display(bus_stop_2021_df.info())
print()
print('+=' * 20)
print()
display(bus_stop_2022_df.info())
print()
print('+=' * 20)
print()
display(bus_stop_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     10876 non-null  int64
 1   행정구명    10876 non-null  object
 2   ARS-ID  10876 non-null  int64
 3   정류소명    10876 non-null  object
 4   노선수     10876 non-null  int64
dtypes: int64(3), object(2)
memory usage: 425.0+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11177 entries, 0 to 11176
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     11177 non-null  int64
 1   행정구명    11177 non-null  object
 2   ARS-ID  11177 non-null  int64
 3   정류소명    11177 non-null  object
 4   노선수     11177 non-null  int64
dtypes: int64(3), object(2)
memory usage: 436.7+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11198 entries, 0 to 11197
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     11198 non-null  int64
 1   행정구명    11198 non-null  object
 2   ARS-ID  11198 non-null  int64
 3   정류소명    11198 non-null  object
 4   노선수     11198 non-null  int64
dtypes: int64(3), object(2)
memory usage: 437.6+ KB

None

In [793]:
'''
지하철 데이터 프레임
'''
train_2021_df = pd.read_csv(root + '교통_Data/서울시 지역별 지하철역 정보_2021.csv', encoding = 'cp949')
train_2022_df = pd.read_csv(root + '교통_Data/서울시 지역별 지하철역 정보_2022.csv', encoding = 'cp949')
train_2023_df = pd.read_csv(root + '교통_Data/서울시 지역별 지하철역 정보_2023.csv', encoding = 'cp949')

In [794]:
# 지하철 정보 확인
train_2021_df.info()
print()
print('+=' * 20)
print()
train_2022_df.info()
print()
print('+=' * 20)
print()
train_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       32 non-null     int64
 1   자치구      32 non-null     object
 2   해당역(호선)  32 non-null     object
 3   역개수      32 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      30 non-null     int64
 1   자치구     30 non-null     object
 2   역명(호선)  30 non-null     object
 3   역수      30 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      30 non-null     object
 1   해당역(호선)  30 non-null     object
 2   역개수      30 non-null     int64
dtypes: int64(1), object(2)
memory usage: 852.0+ bytes

In [795]:
'''
공원 데이터 프레임
'''
park_2021_df = pd.read_excel(root + '공원_Data/공원현황_2021.xlsx')
park_2022_df = pd.read_excel(root + '공원_Data/공원현황_2022.xlsx')
park_2023_df = pd.read_excel(root + '공원_Data/공원현황_2023.xlsx')

In [796]:
# 공원 정보 확인
display(park_2021_df.info())
print()
print('+=' * 20)
print()
display(park_2022_df.info())
print()
print('+=' * 20)
print()
display(park_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 47 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  5 non-null      object
 1   자치구별(2)  31 non-null     object
 2   2021     31 non-null     object
 3   2021.1   31 non-null     object
 4   2021.2   31 non-null     object
 5   2021.3   31 non-null     object
 6   2021.4   31 non-null     object
 7   2021.5   31 non-null     object
 8   2021.6   31 non-null     object
 9   2021.7   31 non-null     object
 10  2021.8   31 non-null     object
 11  2021.9   31 non-null     object
 12  2021.10  31 non-null     object
 13  2021.11  31 non-null     object
 14  2021.12  31 non-null     object
 15  2021.13  31 non-null     object
 16  2021.14  31 non-null     object
 17  2021.15  31 non-null     object
 18  2021.16  31 non-null     object
 19  2021.17  31 non-null     object
 20  2021.18  31 non-null     object
 21  2021.19  31 non-null     object
 22  2021.20  31 non-null     object
 23  2021.21  31 non-null     object
 24  2021.22  31 non-null     object
 25  2021.23  31 non-null     object
 26  2021.24  31 non-null     object
 27  2021.25  31 non-null     object
 28  2021.26  31 non-null     object
 29  2021.27  31 non-null     object
 30  2021.28  31 non-null     object
 31  2021.29  31 non-null     object
 32  2021.30  31 non-null     object
 33  2021.31  31 non-null     object
 34  2021.32  31 non-null     object
 35  2021.33  31 non-null     object
 36  2021.34  31 non-null     object
 37  2021.35  31 non-null     object
 38  2021.36  31 non-null     object
 39  2021.37  31 non-null     object
 40  2021.38  31 non-null     object
 41  2021.39  31 non-null     object
 42  2021.40  31 non-null     object
 43  2021.41  31 non-null     object
 44  2021.42  31 non-null     object
 45  2021.43  31 non-null     object
 46  2021.44  31 non-null     object
dtypes: object(47)
memory usage: 11.5+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 38 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  5 non-null      object
 1   자치구별(2)  31 non-null     object
 2   2022     31 non-null     object
 3   2022.1   31 non-null     object
 4   2022.2   31 non-null     object
 5   2022.3   31 non-null     object
 6   2022.4   31 non-null     object
 7   2022.5   31 non-null     object
 8   2022.6   31 non-null     object
 9   2022.7   31 non-null     object
 10  2022.8   31 non-null     object
 11  2022.9   31 non-null     object
 12  2022.10  31 non-null     object
 13  2022.11  31 non-null     object
 14  2022.12  31 non-null     object
 15  2022.13  31 non-null     object
 16  2022.14  31 non-null     object
 17  2022.15  31 non-null     object
 18  2022.16  31 non-null     object
 19  2022.17  31 non-null     object
 20  2022.18  31 non-null     object
 21  2022.19  31 non-null     object
 22  2022.20  31 non-null     object
 23  2022.21  31 non-null     object
 24  2022.22  31 non-null     object
 25  2022.23  31 non-null     object
 26  2022.24  31 non-null     object
 27  2022.25  31 non-null     object
 28  2022.26  31 non-null     object
 29  2022.27  31 non-null     object
 30  2022.28  31 non-null     object
 31  2022.29  31 non-null     object
 32  2022.30  31 non-null     object
 33  2022.31  31 non-null     object
 34  2022.32  31 non-null     object
 35  2022.33  31 non-null     object
 36  2022.34  31 non-null     object
 37  2022.35  31 non-null     object
dtypes: object(38)
memory usage: 9.3+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 38 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  5 non-null      object
 1   자치구별(2)  31 non-null     object
 2   2023     31 non-null     object
 3   2023.1   31 non-null     object
 4   2023.2   31 non-null     object
 5   2023.3   31 non-null     object
 6   2023.4   31 non-null     object
 7   2023.5   31 non-null     object
 8   2023.6   31 non-null     object
 9   2023.7   31 non-null     object
 10  2023.8   31 non-null     object
 11  2023.9   31 non-null     object
 12  2023.10  31 non-null     object
 13  2023.11  31 non-null     object
 14  2023.12  31 non-null     object
 15  2023.13  31 non-null     object
 16  2023.14  31 non-null     object
 17  2023.15  31 non-null     object
 18  2023.16  31 non-null     object
 19  2023.17  31 non-null     object
 20  2023.18  31 non-null     object
 21  2023.19  31 non-null     object
 22  2023.20  31 non-null     object
 23  2023.21  31 non-null     object
 24  2023.22  31 non-null     object
 25  2023.23  31 non-null     object
 26  2023.24  31 non-null     object
 27  2023.25  31 non-null     object
 28  2023.26  31 non-null     object
 29  2023.27  31 non-null     object
 30  2023.28  31 non-null     object
 31  2023.29  31 non-null     object
 32  2023.30  31 non-null     object
 33  2023.31  31 non-null     object
 34  2023.32  31 non-null     object
 35  2023.33  31 non-null     object
 36  2023.34  31 non-null     object
 37  2023.35  31 non-null     object
dtypes: object(38)
memory usage: 9.3+ KB

None

In [797]:
'''
유통업체 데이터 프레임
'''
distributor_2021_df = pd.read_excel(root + '유통업체_Data/유통업체현황_2021.xlsx')
distributor_2022_df = pd.read_excel(root + '유통업체_Data/유통업체현황_2022.xlsx')
distributor_2023_df = pd.read_excel(root + '유통업체_Data/유통업체현황_2023.xlsx')

In [798]:
# 유통업체 정보 확인
display(distributor_2021_df.info())
print()
print('+=' * 20)
print()
display(distributor_2022_df.info())
print()
print('+=' * 20)
print()
display(distributor_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    4 non-null      object
 1   동별(2)    29 non-null     object
 2   2021     29 non-null     object
 3   2021.1   29 non-null     object
 4   2021.2   29 non-null     object
 5   2021.3   29 non-null     object
 6   2021.4   29 non-null     object
 7   2021.5   29 non-null     object
 8   2021.6   29 non-null     object
 9   2021.7   29 non-null     object
 10  2021.8   29 non-null     object
 11  2021.9   29 non-null     object
 12  2021.10  29 non-null     object
 13  2021.11  29 non-null     object
 14  2021.12  29 non-null     object
 15  2021.13  29 non-null     object
 16  2021.14  29 non-null     object
 17  2021.15  29 non-null     object
 18  2021.16  29 non-null     object
 19  2021.17  29 non-null     object
 20  2021.18  29 non-null     object
 21  2021.19  29 non-null     object
 22  2021.20  29 non-null     object
dtypes: object(23)
memory usage: 5.3+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    4 non-null      object
 1   동별(2)    29 non-null     object
 2   2022     29 non-null     object
 3   2022.1   29 non-null     object
 4   2022.2   29 non-null     object
 5   2022.3   29 non-null     object
 6   2022.4   29 non-null     object
 7   2022.5   29 non-null     object
 8   2022.6   29 non-null     object
 9   2022.7   29 non-null     object
 10  2022.8   29 non-null     object
 11  2022.9   29 non-null     object
 12  2022.10  29 non-null     object
 13  2022.11  29 non-null     object
 14  2022.12  29 non-null     object
 15  2022.13  29 non-null     object
 16  2022.14  29 non-null     object
 17  2022.15  29 non-null     object
 18  2022.16  29 non-null     object
 19  2022.17  29 non-null     object
 20  2022.18  29 non-null     object
 21  2022.19  29 non-null     object
 22  2022.20  29 non-null     object
dtypes: object(23)
memory usage: 5.3+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    4 non-null      object
 1   동별(2)    29 non-null     object
 2   2023     29 non-null     object
 3   2023.1   29 non-null     object
 4   2023.2   29 non-null     object
 5   2023.3   29 non-null     object
 6   2023.4   29 non-null     object
 7   2023.5   29 non-null     object
 8   2023.6   29 non-null     object
 9   2023.7   29 non-null     object
 10  2023.8   29 non-null     object
 11  2023.9   29 non-null     object
 12  2023.10  29 non-null     object
 13  2023.11  29 non-null     object
 14  2023.12  29 non-null     object
 15  2023.13  29 non-null     object
 16  2023.14  29 non-null     object
 17  2023.15  29 non-null     object
 18  2023.16  29 non-null     object
 19  2023.17  29 non-null     object
 20  2023.18  29 non-null     object
 21  2023.19  29 non-null     object
 22  2023.20  29 non-null     object
dtypes: object(23)
memory usage: 5.3+ KB

None

In [799]:
'''
의료기간 데이터 프레임
'''
medical_2021_df = pd.read_excel(root + '의료기관_Data/의료기관_2021.xlsx')
medical_2022_df = pd.read_excel(root + '의료기관_Data/의료기관_2022.xlsx')
medical_2023_df = pd.read_excel(root + '의료기관_Data/의료기관_2023.xlsx')

In [800]:
# 의료기간 정보 확인
display(medical_2021_df.info())
print()
print('+=' * 20)
print()
display(medical_2022_df.info())
print()
print('+=' * 20)
print()
display(medical_2023_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2021     29 non-null     object
 3   2021.1   29 non-null     object
 4   2021.2   29 non-null     object
 5   2021.3   29 non-null     object
 6   2021.4   29 non-null     object
 7   2021.5   29 non-null     object
 8   2021.6   29 non-null     object
 9   2021.7   29 non-null     object
 10  2021.8   29 non-null     object
 11  2021.9   29 non-null     object
 12  2021.10  29 non-null     object
 13  2021.11  29 non-null     object
 14  2021.12  29 non-null     object
 15  2021.13  29 non-null     object
 16  2021.14  29 non-null     object
 17  2021.15  29 non-null     object
 18  2021.16  29 non-null     object
 19  2021.17  29 non-null     object
 20  2021.18  29 non-null     object
 21  2021.19  29 non-null     object
 22  2021.20  29 non-null     object
 23  2021.21  29 non-null     object
 24  2021.22  29 non-null     object
 25  2021.23  29 non-null     object
 26  2021.24  29 non-null     object
 27  2021.25  29 non-null     object
 28  2021.26  29 non-null     object
 29  2021.27  29 non-null     object
dtypes: object(30)
memory usage: 6.9+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2022     29 non-null     object
 3   2022.1   29 non-null     object
 4   2022.2   29 non-null     object
 5   2022.3   29 non-null     object
 6   2022.4   29 non-null     object
 7   2022.5   29 non-null     object
 8   2022.6   29 non-null     object
 9   2022.7   29 non-null     object
 10  2022.8   29 non-null     object
 11  2022.9   29 non-null     object
 12  2022.10  29 non-null     object
 13  2022.11  29 non-null     object
 14  2022.12  29 non-null     object
 15  2022.13  29 non-null     object
 16  2022.14  29 non-null     object
 17  2022.15  29 non-null     object
 18  2022.16  29 non-null     object
 19  2022.17  29 non-null     object
 20  2022.18  29 non-null     object
 21  2022.19  29 non-null     object
 22  2022.20  29 non-null     object
 23  2022.21  29 non-null     object
 24  2022.22  29 non-null     object
 25  2022.23  29 non-null     object
 26  2022.24  29 non-null     object
 27  2022.25  29 non-null     object
 28  2022.26  29 non-null     object
 29  2022.27  29 non-null     object
 30  2022.28  29 non-null     object
 31  2022.29  29 non-null     object
dtypes: object(32)
memory usage: 7.4+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2023     29 non-null     object
 3   2023.1   29 non-null     object
 4   2023.2   29 non-null     object
 5   2023.3   29 non-null     object
 6   2023.4   29 non-null     object
 7   2023.5   29 non-null     object
 8   2023.6   29 non-null     object
 9   2023.7   29 non-null     object
 10  2023.8   29 non-null     object
 11  2023.9   29 non-null     object
 12  2023.10  29 non-null     object
 13  2023.11  29 non-null     object
 14  2023.12  29 non-null     object
 15  2023.13  29 non-null     object
 16  2023.14  29 non-null     object
 17  2023.15  29 non-null     object
 18  2023.16  29 non-null     object
 19  2023.17  29 non-null     object
 20  2023.18  29 non-null     object
 21  2023.19  29 non-null     object
 22  2023.20  29 non-null     object
 23  2023.21  29 non-null     object
 24  2023.22  29 non-null     object
 25  2023.23  29 non-null     object
 26  2023.24  29 non-null     object
 27  2023.25  29 non-null     object
 28  2023.26  29 non-null     object
 29  2023.27  29 non-null     object
 30  2023.28  29 non-null     object
 31  2023.29  29 non-null     object
dtypes: object(32)
memory usage: 7.4+ KB

None

In [801]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# 한글 설정
# pip install koreanize_matplotlib
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)
# root = 'C:/workspace/python/project/data/'
root = 'G:/workspace/python/python_project/data/'

In [802]:
'''
주거실태 데이터 프레임
'''
abode_family_df = pd.read_csv(root + '주거실태_Data/거처의_종류_및_거처__가구__가구원__시군구_20241120174650.csv', encoding = 'cp949')
abode_house_category = pd.read_csv(root + '주거실태_Data/주택의_종류별_주택__읍면동_연도_끝자리_0__5___시군구_그_외_연도__20241120174542.csv', encoding = 'cp949')

In [803]:
# 주거실태 정보 확인
abode_family_df.info()
print()
print('+=' * 20)
print()
abode_house_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(시군구)  235 non-null    object
 1   거처의 종류      235 non-null    object
 2   2021        235 non-null    object
 3   2021.1      235 non-null    object
 4   2021.2      235 non-null    object
 5   2021.3      235 non-null    object
 6   2021.4      235 non-null    object
 7   2021.5      235 non-null    object
 8   2021.6      235 non-null    object
 9   2021.7      235 non-null    object
 10  2021.8      235 non-null    object
 11  2021.9      235 non-null    object
 12  2021.10     235 non-null    object
 13  2022        235 non-null    object
 14  2022.1      235 non-null    object
 15  2022.2      235 non-null    object
 16  2022.3      235 non-null    object
 17  2022.4      235 non-null    object
 18  2022.5      235 non-null    object
 19  2022.6      235 non-null    object
 20  2022.7      235 non-null    object
 21  2022.8      235 non-null    object
 22  2022.9      235 non-null    object
 23  2022.10     235 non-null    object
 24  2023        235 non-null    object
 25  2023.1      235 non-null    object
 26  2023.2      235 non-null    object
 27  2023.3      235 non-null    object
 28  2023.4      235 non-null    object
 29  2023.5      235 non-null    object
 30  2023.6      235 non-null    object
 31  2023.7      235 non-null    object
 32  2023.8      235 non-null    object
 33  2023.9      235 non-null    object
 34  2023.10     235 non-null    object
dtypes: object(35)
memory usage: 64.4+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(읍면동)  27 non-null     object
 1   2021        27 non-null     object
 2   2021.1      27 non-null     object
 3   2021.2      27 non-null     object
 4   2021.3      27 non-null     object
 5   2021.4      27 non-null     object
 6   2021.5      27 non-null     object
 7   2021.6      27 non-null     object
 8   2021.7      27 non-null     object
 9   2021.8      27 non-null     object
 10  2022        27 non-null     object
 11  2022.1      27 non-null     object
 12  2022.2      27 non-null     object
 13  2022.3      27 non-null     object
 14  2022.4      27 non-null     object
 15  2022.5      27 non-null     object
 16  2022.6      27 non-null     object
 17  2022.7      27 non-null     object
 18  2022.8      27 non-null     object
 19  2023        27 non-null     object
 20  2023.1      27 non-null     object
 21  2023.2      27 non-null     object
 22  2023.3      27 non-null     object
 23  2023.4      27 non-null     object
 24  2023.5      27 non-null     object
 25  2023.6      27 non-null     object
 26  2023.7      27 non-null     object
 27  2023.8      27 non-null     object
dtypes: object(28)
memory usage: 6.0+ KB

In [804]:
'''
경제활동인구 데이터 프레임
'''
economy_activity_df = pd.read_csv(root + '주거실태_Data/경제활동인구.csv')

In [805]:
# 경제활동인구 정보 확인
display(economy_activity_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시점         5 non-null      object
 1   15세이상인구    5 non-null      object
 2   15세이상인구.1  5 non-null      object
 3   15세이상인구.2  5 non-null      object
 4   경제활동인구     5 non-null      object
 5   경제활동인구.1   5 non-null      object
 6   경제활동인구.2   5 non-null      object
 7   경제활동인구.3   5 non-null      object
 8   경제활동인구.4   5 non-null      object
 9   경제활동인구.5   5 non-null      object
 10  경제활동인구.6   5 non-null      object
 11  경제활동인구.7   5 non-null      object
 12  경제활동인구.8   5 non-null      object
 13  비경제활동인구    5 non-null      object
 14  비경제활동인구.1  5 non-null      object
 15  비경제활동인구.2  5 non-null      object
dtypes: object(16)
memory usage: 772.0+ bytes

None

In [806]:
'''
인구수 데이터 프레임
'''
population_df = pd.read_csv(root + '인구수_Data/2021-2023_인구__가구_및_주택_–_읍면동_연도_끝자리_0__5___시군구_그_외_연도__20241121124805.csv', encoding = 'cp949')
seoul_pop_df = pd.read_csv(root + '인구수_Data/서울시_인구수.csv')

In [807]:
# 인구수 정보 확인
display(population_df.info())
print()
print('+=' * 20)
print()
display(seoul_pop_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 61 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(읍면동)  27 non-null     object
 1   2021        27 non-null     object
 2   2021.1      27 non-null     object
 3   2021.2      27 non-null     object
 4   2021.3      27 non-null     object
 5   2021.4      27 non-null     object
 6   2021.5      27 non-null     object
 7   2021.6      27 non-null     object
 8   2021.7      27 non-null     object
 9   2021.8      27 non-null     object
 10  2021.9      27 non-null     object
 11  2021.10     27 non-null     object
 12  2021.11     27 non-null     object
 13  2021.12     27 non-null     object
 14  2021.13     27 non-null     object
 15  2021.14     27 non-null     object
 16  2021.15     27 non-null     object
 17  2021.16     27 non-null     object
 18  2021.17     27 non-null     object
 19  2021.18     27 non-null     object
 20  2021.19     27 non-null     object
 21  2022        27 non-null     object
 22  2022.1      27 non-null     object
 23  2022.2      27 non-null     object
 24  2022.3      27 non-null     object
 25  2022.4      27 non-null     object
 26  2022.5      27 non-null     object
 27  2022.6      27 non-null     object
 28  2022.7      27 non-null     object
 29  2022.8      27 non-null     object
 30  2022.9      27 non-null     object
 31  2022.10     27 non-null     object
 32  2022.11     27 non-null     object
 33  2022.12     27 non-null     object
 34  2022.13     27 non-null     object
 35  2022.14     27 non-null     object
 36  2022.15     27 non-null     object
 37  2022.16     27 non-null     object
 38  2022.17     27 non-null     object
 39  2022.18     27 non-null     object
 40  2022.19     27 non-null     object
 41  2023        27 non-null     object
 42  2023.1      27 non-null     object
 43  2023.2      27 non-null     object
 44  2023.3      27 non-null     object
 45  2023.4      27 non-null     object
 46  2023.5      27 non-null     object
 47  2023.6      27 non-null     object
 48  2023.7      27 non-null     object
 49  2023.8      27 non-null     object
 50  2023.9      27 non-null     object
 51  2023.10     27 non-null     object
 52  2023.11     27 non-null     object
 53  2023.12     27 non-null     object
 54  2023.13     27 non-null     object
 55  2023.14     27 non-null     object
 56  2023.15     27 non-null     object
 57  2023.16     27 non-null     object
 58  2023.17     27 non-null     object
 59  2023.18     27 non-null     object
 60  2023.19     27 non-null     object
dtypes: object(61)
memory usage: 13.0+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   동별(1)     27 non-null     object
 1   동별(2)     27 non-null     object
 2   2024 3/4  27 non-null     object
 3   2021      27 non-null     object
 4   2022      27 non-null     object
 5   2023      27 non-null     object
dtypes: object(6)
memory usage: 1.4+ KB

None

In [808]:
# 주거실태 정보 확인
abode_family_df.info()
print()
print('+=' * 20)
print()
abode_house_category.info()
# 경제활동인구 정보 확인
display(economy_activity_df.info())
# 인구수 정보 확인
display(population_df.info())
print()
print('+=' * 20)
print()
display(seoul_pop_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(시군구)  235 non-null    object
 1   거처의 종류      235 non-null    object
 2   2021        235 non-null    object
 3   2021.1      235 non-null    object
 4   2021.2      235 non-null    object
 5   2021.3      235 non-null    object
 6   2021.4      235 non-null    object
 7   2021.5      235 non-null    object
 8   2021.6      235 non-null    object
 9   2021.7      235 non-null    object
 10  2021.8      235 non-null    object
 11  2021.9      235 non-null    object
 12  2021.10     235 non-null    object
 13  2022        235 non-null    object
 14  2022.1      235 non-null    object
 15  2022.2      235 non-null    object
 16  2022.3      235 non-null    object
 17  2022.4      235 non-null    object
 18  2022.5      235 non-null    object
 19  2022.6      235 non-null    object
 20  2022.7      235 non-null    object
 21  2022.8      235 non-null    object
 22  2022.9      235 non-null    object
 23  2022.10     235 non-null    object
 24  2023        235 non-null    object
 25  2023.1      235 non-null    object
 26  2023.2      235 non-null    object
 27  2023.3      235 non-null    object
 28  2023.4      235 non-null    object
 29  2023.5      235 non-null    object
 30  2023.6      235 non-null    object
 31  2023.7      235 non-null    object
 32  2023.8      235 non-null    object
 33  2023.9      235 non-null    object
 34  2023.10     235 non-null    object
dtypes: object(35)
memory usage: 64.4+ KB

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(읍면동)  27 non-null     object
 1   2021        27 non-null     object
 2   2021.1      27 non-null     object
 3   2021.2      27 non-null     object
 4   2021.3      27 non-null     object
 5   2021.4      27 non-null     object
 6   2021.5      27 non-null     object
 7   2021.6      27 non-null     object
 8   2021.7      27 non-null     object
 9   2021.8      27 non-null     object
 10  2022        27 non-null     object
 11  2022.1      27 non-null     object
 12  2022.2      27 non-null     object
 13  2022.3      27 non-null     object
 14  2022.4      27 non-null     object
 15  2022.5      27 non-null     object
 16  2022.6      27 non-null     object
 17  2022.7      27 non-null     object
 18  2022.8      27 non-null     object
 19  2023        27 non-null     object
 20  2023.1      27 non-null     object
 21  2023.2      27 non-null     object
 22  2023.3      27 non-null     object
 23  2023.4      27 non-null     object
 24  2023.5      27 non-null     object
 25  2023.6      27 non-null     object
 26  2023.7      27 non-null     object
 27  2023.8      27 non-null     object
dtypes: object(28)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시점         5 non-null      object
 1   15세이상인구    5 non-null      object
 2   15세이상인구.1  5 non-null      object
 3   15세이상인구.2  5 non-null      object
 4   경제활동인구     5 non-null      object
 5   경제활동인구.1   5 non-null      object
 6   경제활동인구.2   5 non-null      object
 7   경제활동인구.3   5 non-null      object
 8   경제활동인구.4   5 non-null      object
 9   경제활동인구.5   5 non-null      object
 10  경제활동인구.6   5 non-null      object
 11  경제활동인구.7   5 non-null      object
 12  경제활동인구.8   5 non-null      object
 13  비경제활동인구    5 non-null      object
 14  비경제활동인구.1  5 non-null      object
 15  비경제활동인구.2  5 non-null      object
dtypes: object(16)
memory usage: 772.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 61 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역별(읍면동)  27 non-null     object
 1   2021        27 non-null     object
 2   2021.1      27 non-null     object
 3   2021.2      27 non-null     object
 4   2021.3      27 non-null     object
 5   2021.4      27 non-null     object
 6   2021.5      27 non-null     object
 7   2021.6      27 non-null     object
 8   2021.7      27 non-null     object
 9   2021.8      27 non-null     object
 10  2021.9      27 non-null     object
 11  2021.10     27 non-null     object
 12  2021.11     27 non-null     object
 13  2021.12     27 non-null     object
 14  2021.13     27 non-null     object
 15  2021.14     27 non-null     object
 16  2021.15     27 non-null     object
 17  2021.16     27 non-null     object
 18  2021.17     27 non-null     object
 19  2021.18     27 non-null     object
 20  2021.19     27 non-null     object
 21  2022        27 non-null     object
 22  2022.1      27 non-null     object
 23  2022.2      27 non-null     object
 24  2022.3      27 non-null     object
 25  2022.4      27 non-null     object
 26  2022.5      27 non-null     object
 27  2022.6      27 non-null     object
 28  2022.7      27 non-null     object
 29  2022.8      27 non-null     object
 30  2022.9      27 non-null     object
 31  2022.10     27 non-null     object
 32  2022.11     27 non-null     object
 33  2022.12     27 non-null     object
 34  2022.13     27 non-null     object
 35  2022.14     27 non-null     object
 36  2022.15     27 non-null     object
 37  2022.16     27 non-null     object
 38  2022.17     27 non-null     object
 39  2022.18     27 non-null     object
 40  2022.19     27 non-null     object
 41  2023        27 non-null     object
 42  2023.1      27 non-null     object
 43  2023.2      27 non-null     object
 44  2023.3      27 non-null     object
 45  2023.4      27 non-null     object
 46  2023.5      27 non-null     object
 47  2023.6      27 non-null     object
 48  2023.7      27 non-null     object
 49  2023.8      27 non-null     object
 50  2023.9      27 non-null     object
 51  2023.10     27 non-null     object
 52  2023.11     27 non-null     object
 53  2023.12     27 non-null     object
 54  2023.13     27 non-null     object
 55  2023.14     27 non-null     object
 56  2023.15     27 non-null     object
 57  2023.16     27 non-null     object
 58  2023.17     27 non-null     object
 59  2023.18     27 non-null     object
 60  2023.19     27 non-null     object
dtypes: object(61)
memory usage: 13.0+ KB

None

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   동별(1)     27 non-null     object
 1   동별(2)     27 non-null     object
 2   2024 3/4  27 non-null     object
 3   2021      27 non-null     object
 4   2022      27 non-null     object
 5   2023      27 non-null     object
dtypes: object(6)
memory usage: 1.4+ KB

None

In [809]:
abode_family_df.describe()

,행정구역별(시군구),거처의 종류,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,...,2023.1,2023.2,2023.3,2023.4,2023.5,2023.6,2023.7,2023.8,2023.9,2023.10
count,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235
unique,27,10,234,235,235,71,35,221,235,234,...,235,234,68,36,222,234,235,163,92,231
top,은평구,계,1477,가구-계,일반가구,X,X,267,가구원-계,8184,...,가구-계,8644,X,X,427,12308,일반가구원,X,X,103
freq,9,26,2,1,1,65,170,2,1,2,...,1,2,78,175,2,2,1,21,123,2

In [810]:
abode_family_df.columns

Index(['행정구역별(시군구)', '거처의 종류', '2021', '2021.1', '2021.2', '2021.3', '2021.4',
       '2021.5', '2021.6', '2021.7', '2021.8', '2021.9', '2021.10', '2022',
       '2022.1', '2022.2', '2022.3', '2022.4', '2022.5', '2022.6', '2022.7',
       '2022.8', '2022.9', '2022.10', '2023', '2023.1', '2023.2', '2023.3',
       '2023.4', '2023.5', '2023.6', '2023.7', '2023.8', '2023.9', '2023.10'],
      dtype='object')

In [811]:
year_2021 = abode_family_df.columns.str.contains('2021')
year_2021[0] = True
year_2021[1] = True

year_2022 = abode_family_df.columns.str.contains('2022')
year_2022[0] = True
year_2022[1] = True

year_2023 = abode_family_df.columns.str.contains('2023')
year_2023[0] = True
year_2023[1] = True

In [812]:
abode_family_2021_df = abode_family_df.loc[:, year_2021]
abode_family_2022_df = abode_family_df.loc[:, year_2022]
abode_family_2023_df = abode_family_df.loc[:, year_2023]

columns_2021 = abode_family_2021_df.loc[0].values
columns_2022 = abode_family_2022_df.loc[0].values
columns_2023 = abode_family_2023_df.loc[0].values

abode_family_2021_df.columns = columns_2021
abode_family_2022_df.columns = columns_2022
abode_family_2023_df.columns = columns_2023

display(abode_family_2021_df[:3])
display(abode_family_2022_df[:3])
display(abode_family_2023_df[:3])

,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
1,서울특별시,계,3241546,4191171,4046799,1611,843,141918,9361974,9009126,14121,85502,253225
2,서울특별시,주택_계,2971494,3848936,3725698,1323,75,121840,8824040,8583138,11823,1898,227181

,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
1,서울특별시,계,3298268,4252134,4098818,1621,802,150893,9307534,8942201,15103,88288,261942
2,서울특별시,주택_계,3010617,3887506,3758511,1324,58,127613,8743464,8498301,12515,835,231813

,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
1,서울특별시,계,3347166,4298420,4141659,1573,819,154369,9279355,8908911,14557,92148,263739
2,서울특별시,주택_계,3047650,3917553,3786041,1324,59,130129,8698238,8451579,12456,1057,233146

In [813]:
'''
0 행 삭제 클래스
'''
class ManagedDataFrame:
    def __init__(self, name, df):
        self.name = name
        self.df = df
        self.row_deleted = False  # 플래그 초기화

    def delete_row_once(self):
        if not self.row_deleted and 0 in self.df.index:
            self.df = self.df.drop(0)
            self.row_deleted = True
            print(f"{self.name}: 0행이 삭제되었습니다.")
        else:
            print(f"{self.name}: 삭제 작업이 이미 완료되었거나 0행이 없습니다.")

    # 객체 출력 시 사용자 정의 내용 반환
    def __repr__(self):
        return f"ManagedDataFrame(name={self.name}, row_deleted={self.row_deleted}, df=\n{self.df}\n)"

In [814]:
abode_family_2021_df = ManagedDataFrame('abode_family_2021', abode_family_2021_df)
abode_family_2022_df = ManagedDataFrame('abode_family_2022', abode_family_2022_df)
abode_family_2023_df = ManagedDataFrame('abode_family_2023', abode_family_2023_df)

abode_family_2021_df.delete_row_once()
abode_family_2022_df.delete_row_once()
abode_family_2023_df.delete_row_once()

abode_family_2021: 0행이 삭제되었습니다.
abode_family_2022: 0행이 삭제되었습니다.
abode_family_2023: 0행이 삭제되었습니다.

In [815]:
abode_family_2021_df = abode_family_2021_df.df
abode_family_2022_df = abode_family_2022_df.df
abode_family_2023_df = abode_family_2023_df.df

In [816]:
abode_family_2021_df.columns

Index(['행정구역별(시군구)', '거처의 종류', '거처', '가구-계', '일반가구', '집단가구-비친족 6인 이상 가구',
       '집단가구-집단시설가구', '외국인가구', '가구원-계', '일반가구원', '집단가구원-비친족 6인 이상 가구',
       '집단가구원-집단시설가구', '외국인가구원'],
      dtype='object')

In [817]:
abode_family_2021_df

,행정구역별(시군구),거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
1,서울특별시,계,3241546,4191171,4046799,1611,843,141918,9361974,9009126,14121,85502,253225
2,서울특별시,주택_계,2971494,3848936,3725698,1323,75,121840,8824040,8583138,11823,1898,227181
3,서울특별시,주택_단독주택,295980,1108716,1018255,370,44,90047,2022031,1849896,3181,795,168159
4,서울특별시,주택_아파트,1767311,1769152,1758041,173,X,10934,4682960,4660929,1211,14,20806
5,서울특별시,주택_연립주택,104842,105094,103754,39,X,1299,264632,261530,287,14,2801
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,강동구,주택_연립주택,3083,3085,3078,X,X,7,8400,8386,X,X,14
231,강동구,주택_다세대주택,36137,36175,35928,8,X,239,79954,79437,58,X,459
232,강동구,주택_비주거용 건물 내 주택,1011,3360,3266,7,X,87,6553,6382,65,X,106
233,강동구,주택 이외의 거처_계,9085,10616,10284,11,26,295,16438,13656,88,2353,341
234,강동구,주택 이외의 거처_오피스텔,7642,7646,7466,X,X,180,9965,9766,X,X,199

In [818]:
abode_family_2021_df = abode_family_2021_df.rename(columns={'행정구역별(시군구)':'구'})
abode_family_2022_df = abode_family_2022_df.rename(columns={'행정구역별(시군구)':'구'})
abode_family_2023_df = abode_family_2023_df.rename(columns={'행정구역별(시군구)':'구'})

In [819]:
abode_family_2021_df

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
1,서울특별시,계,3241546,4191171,4046799,1611,843,141918,9361974,9009126,14121,85502,253225
2,서울특별시,주택_계,2971494,3848936,3725698,1323,75,121840,8824040,8583138,11823,1898,227181
3,서울특별시,주택_단독주택,295980,1108716,1018255,370,44,90047,2022031,1849896,3181,795,168159
4,서울특별시,주택_아파트,1767311,1769152,1758041,173,X,10934,4682960,4660929,1211,14,20806
5,서울특별시,주택_연립주택,104842,105094,103754,39,X,1299,264632,261530,287,14,2801
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,강동구,주택_연립주택,3083,3085,3078,X,X,7,8400,8386,X,X,14
231,강동구,주택_다세대주택,36137,36175,35928,8,X,239,79954,79437,58,X,459
232,강동구,주택_비주거용 건물 내 주택,1011,3360,3266,7,X,87,6553,6382,65,X,106
233,강동구,주택 이외의 거처_계,9085,10616,10284,11,26,295,16438,13656,88,2353,341
234,강동구,주택 이외의 거처_오피스텔,7642,7646,7466,X,X,180,9965,9766,X,X,199

In [820]:
# gu_2021 = abode_family_2021_df.loc[:,'구']
# 중복 제거
# unique_gu = gu_2021.drop_duplicates()
# DataFrame으로 변환
# unique_gu_df = unique_gu.to_frame(name='구')

# '구' 컬럼의 중복 제거
unique_gu_df = abode_family_2021_df[['구']].drop_duplicates()
# 인덱스 초기화
unique_gu_df = unique_gu_df.reset_index(drop=True)
print(unique_gu_df)

print()
print('+=' * 20)
print()

# '거처의 종류' 컬럼의 중복 제거
unique_type_df = abode_family_2021_df[['거처의 종류']].drop_duplicates()
# 인덱스 초기화
unique_type_df = unique_type_df.reset_index(drop=True)
print(unique_type_df)

        구
0   서울특별시
1     종로구
2      중구
3     용산구
4     성동구
5     광진구
6    동대문구
7     중랑구
8     성북구
9     강북구
10    도봉구
11    노원구
12    은평구
13   서대문구
14    마포구
15    양천구
16    강서구
17    구로구
18    금천구
19   영등포구
20    동작구
21    관악구
22    서초구
23    강남구
24    송파구
25    강동구

+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

            거처의 종류
0                계
1             주택_계
2          주택_단독주택
3           주택_아파트
4          주택_연립주택
5         주택_다세대주택
6  주택_비주거용 건물 내 주택
7      주택 이외의 거처_계
8   주택 이외의 거처_오피스텔

In [821]:
abode_family_2021_df_sum = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "계")].reset_index(drop=True)
abode_family_2022_df_sum = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "계")].reset_index(drop=True)
abode_family_2023_df_sum = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "계")].reset_index(drop=True)

In [822]:
display(abode_family_2021_df_sum[:3])

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,계,3241546,4191171,4046799,1611,843,141918,9361974,9009126,14121,85502,253225
1,종로구,계,50884,68541,63984,61,48,4448,145524,133567,512,4170,7275
2,중구,계,47424,61073,56116,58,22,4877,123679,113586,506,1385,8202

In [823]:
abode_family_2021_df_house_sum = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택_계")].reset_index(drop=True)
abode_family_2022_df_house_sum = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택_계")].reset_index(drop=True)
abode_family_2023_df_house_sum = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택_계")].reset_index(drop=True)

In [824]:
display(abode_family_2022_df_house_sum[:5])

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택_계,3010617,3887506,3758511,1324,58,127613,8743464,8498301,12515,835,231813
1,종로구,주택_계,44789,60524,56456,53,X,4014,128639,121494,481,36,6628
2,중구,주택_계,40818,51138,47939,57,X,3142,107571,101297,553,X,5721
3,용산구,주택_계,72628,95427,90634,49,X,4743,201620,192457,409,23,8731
4,성동구,주택_계,88782,119070,114894,53,X,4121,264201,257310,402,144,6345

In [825]:
abode_family_2021_df_singlehouse = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택_단독주택")].reset_index(drop=True)
abode_family_2022_df_singlehouse = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택_단독주택")].reset_index(drop=True)
abode_family_2023_df_singlehouse = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택_단독주택")].reset_index(drop=True)

In [826]:
display(abode_family_2023_df_singlehouse[:5])

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택_단독주택,287312,1089771,993321,392,40,96018,1909607,1733449,3610,751,171797
1,종로구,주택_단독주택,11377,25961,22926,25,X,3007,48388,43236,201,72,4879
2,중구,주택_단독주택,5686,15341,13487,19,X,1835,28098,24428,183,X,3487
3,용산구,주택_단독주택,13046,34296,31370,18,X,2906,61156,55947,159,40,5010
4,성동구,주택_단독주택,9325,36754,33614,13,X,3125,63006,58149,98,104,4655

In [827]:
abode_family_2021_df_apt = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택_아파트")].reset_index(drop=True)
abode_family_2022_df_apt = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택_아파트")].reset_index(drop=True)
abode_family_2023_df_apt = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택_아파트")].reset_index(drop=True)

In [828]:
abode_family_2021_df_apt[:3]

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택_아파트,1767311,1769152,1758041,173,X,10934,4682960,4660929,1211,14,20806
1,종로구,주택_아파트,15189,15212,14940,X,X,271,37153,36679,6,X,468
2,중구,주택_아파트,25356,25407,24781,5,X,621,58328,57151,32,X,1145

In [829]:
abode_family_2021_df_coalitionhouse = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택_연립주택")].reset_index(drop=True)
abode_family_2022_df_coalitionhouse = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택_연립주택")].reset_index(drop=True)
abode_family_2023_df_coalitionhouse = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택_연립주택")].reset_index(drop=True)

In [830]:
abode_family_2021_df_coalitionhouse[:3]

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택_연립주택,104842,105094,103754,39,X,1299,264632,261530,287,14,2801
1,종로구,주택_연립주택,5184,5191,5133,X,X,54,13465,13344,29,X,92
2,중구,주택_연립주택,1805,1810,1758,5,X,47,4627,4512,38,X,77

In [831]:
abode_family_2021_df_multihouse = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택_다세대주택")].reset_index(drop=True)
abode_family_2022_df_multihouse = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택_다세대주택")].reset_index(drop=True)
abode_family_2023_df_multihouse = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택_다세대주택")].reset_index(drop=True)

In [832]:
abode_family_2021_df_multihouse

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택_다세대주택,776669,778371,764951,190,17,13213,1696102,1668729,1383,125,25865
1,종로구,주택_다세대주택,11882,11910,11474,X,X,433,25960,25234,19,X,707
2,중구,주택_다세대주택,6919,6940,6637,5,X,298,13813,13229,43,X,541
3,용산구,주택_다세대주택,17636,17667,17137,11,X,519,34627,33675,88,X,864
4,성동구,주택_다세대주택,9545,9582,9399,12,X,171,19997,19642,90,X,265
5,광진구,주택_다세대주택,37726,37786,37182,10,X,594,83366,82213,69,X,1084
6,동대문구,주택_다세대주택,16245,16289,15839,10,X,440,33811,33052,64,X,695
7,중랑구,주택_다세대주택,33441,33493,33256,X,X,231,76725,76210,26,7,482
8,성북구,주택_다세대주택,29088,29138,28761,6,X,371,63826,63150,39,X,637
9,강북구,주택_다세대주택,38734,38801,38559,X,X,241,88351,87856,X,9,486
10,도봉구,주택_다세대주택,27908,27949,27806,X,X,141,65185,64896,13,X,276
11,노원구,주택_다세대주택,14613,14627,14503,12,X,112,31608,31330,81,X,197
12,은평구,주택_다세대주택,67845,67939,67506,5,X,425,155369,154440,36,27,866
13,서대문구,주택_다세대주택,26969,27010,26358,11,X,639,57738,56615,99,14,1010
14,마포구,주택_다세대주택,33934,33984,33314,18,X,652,65847,64722,116,X,1009
15,양천구,주택_다세대주택,39337,39389,39080,6,X,303,89593,88928,51,X,614
16,강서구,주택_다세대주택,63013,63121,62546,X,X,570,142283,141012,29,6,1236
17,구로구,주택_다세대주택,28985,29229,27214,15,8,1992,68404,63573,97,62,4672
18,금천구,주택_다세대주택,24402,24573,23423,6,X,1144,55202,52410,39,X,2753
19,영등포구,주택_다세대주택,15744,15883,14879,8,X,996,30622,28305,56,X,2261
20,동작구,주택_다세대주택,32962,33026,32593,5,X,428,73618,72727,52,X,839
21,관악구,주택_다세대주택,42785,42943,42251,11,X,681,93829,92291,80,X,1458
22,서초구,주택_다세대주택,25279,25296,25010,6,X,280,52851,52355,40,X,456
23,강남구,주택_다세대주택,28089,28103,27546,6,X,551,51833,51056,50,X,727
24,송파구,주택_다세대주택,67451,67518,66750,6,X,762,141690,140371,48,X,1271
25,강동구,주택_다세대주택,36137,36175,35928,8,X,239,79954,79437,58,X,459

In [833]:
abode_family_2021_df_nonresident = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택_비주거용 건물 내 주택")].reset_index(drop=True)
abode_family_2022_df_nonresident = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택_비주거용 건물 내 주택")].reset_index(drop=True)
abode_family_2023_df_nonresident = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택_비주거용 건물 내 주택")].reset_index(drop=True)

In [834]:
abode_family_2021_df_nonresident[:3]

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택_비주거용 건물 내 주택,26692,87603,80697,551,8,6347,158315,142054,5761,950,9550
1,종로구,주택_비주거용 건물 내 주택,795,1928,1698,12,X,218,3585,3125,120,X,340
2,중구,주택_비주거용 건물 내 주택,776,1848,1635,18,X,195,3775,3227,197,X,351

In [835]:
abode_family_2021_df_etchouse = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택 이외의 거처_계")].reset_index(drop=True)
abode_family_2022_df_etchouse = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택 이외의 거처_계")].reset_index(drop=True)
abode_family_2023_df_etchouse = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택 이외의 거처_계")].reset_index(drop=True)

In [836]:
abode_family_2021_df_etchouse[:3]

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택 이외의 거처_계,270052,342235,321101,288,768,20078,537934,425988,2298,83604,26044
1,종로구,주택 이외의 거처_계,6063,8382,7294,15,45,1028,14960,9334,130,4132,1364
2,중구,주택 이외의 거처_계,6751,9590,7784,6,20,1780,13791,10011,45,1346,2389

In [837]:
abode_family_2021_df_officetel = abode_family_2021_df.loc[(abode_family_2021_df["거처의 종류"] == "주택 이외의 거처_오피스텔")].reset_index(drop=True)
abode_family_2022_df_officetel = abode_family_2022_df.loc[(abode_family_2022_df["거처의 종류"] == "주택 이외의 거처_오피스텔")].reset_index(drop=True)
abode_family_2023_df_officetel = abode_family_2023_df.loc[(abode_family_2023_df["거처의 종류"] == "주택 이외의 거처_오피스텔")].reset_index(drop=True)

In [838]:
abode_family_2021_df_officetel[:3]

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택 이외의 거처_오피스텔,230808,231607,223375,35,5,8192,308464,297543,236,302,10383
1,종로구,주택 이외의 거처_오피스텔,4453,4461,4194,X,X,266,5560,5228,6,X,326
2,중구,주택 이외의 거처_오피스텔,5078,5117,4612,X,X,504,6850,6067,X,48,735

In [839]:
# 2021 주거실태_Data/거처의_종류_및_거처__가구__가구원__시군구
# 2021 전체
abode_family_2021_df
# 2021 계
abode_family_2021_df_sum
# 2021 주택_계
abode_family_2021_df_house_sum
# 2021 주택_단독주택
abode_family_2021_df_singlehouse
# 2021 주택_아파트
abode_family_2021_df_apt
# 2021 주택_연립주택
abode_family_2021_df_coalitionhouse
# 2021 주택_다세대주택
abode_family_2021_df_multihouse
# 2021 주택_비주거용 건물 내 주택
abode_family_2021_df_nonresident
# 2021 주택 이외의 거처_계
abode_family_2021_df_etchouse
# 2021 주택 이외의 거처_오피스텔
abode_family_2021_df_officetel

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택 이외의 거처_오피스텔,230808,231607,223375,35,5,8192,308464,297543,236,302,10383
1,종로구,주택 이외의 거처_오피스텔,4453,4461,4194,X,X,266,5560,5228,6,X,326
2,중구,주택 이외의 거처_오피스텔,5078,5117,4612,X,X,504,6850,6067,X,48,735
3,용산구,주택 이외의 거처_오피스텔,5493,5498,5246,X,X,250,7111,6787,12,X,312
4,성동구,주택 이외의 거처_오피스텔,5594,5599,5339,X,X,256,7156,6811,31,X,314
5,광진구,주택 이외의 거처_오피스텔,7085,7095,6840,X,X,253,9221,8905,12,X,304
6,동대문구,주택 이외의 거처_오피스텔,11428,11471,10659,X,X,807,14456,13226,20,198,1012
7,중랑구,주택 이외의 거처_오피스텔,3185,3187,3123,X,X,63,4328,4238,6,X,84
8,성북구,주택 이외의 거처_오피스텔,2273,2286,2173,X,X,113,2933,2796,X,X,137
9,강북구,주택 이외의 거처_오피스텔,1624,1625,1587,X,X,36,2087,2027,14,X,46
10,도봉구,주택 이외의 거처_오피스텔,3777,3779,3673,X,X,105,5852,5726,X,7,119
11,노원구,주택 이외의 거처_오피스텔,2402,2405,2323,X,X,82,4052,3960,X,X,92
12,은평구,주택 이외의 거처_오피스텔,7867,7871,7735,X,X,135,10110,9952,7,X,151
13,서대문구,주택 이외의 거처_오피스텔,5685,5695,5211,X,X,482,7060,6488,17,X,555
14,마포구,주택 이외의 거처_오피스텔,14975,15024,14221,5,X,798,19134,18158,32,X,944
15,양천구,주택 이외의 거처_오피스텔,5714,5720,5609,X,X,110,12602,12465,6,X,131
16,강서구,주택 이외의 거처_오피스텔,28677,28690,28270,X,X,420,35237,34727,X,X,510
17,구로구,주택 이외의 거처_오피스텔,13814,13854,13248,X,X,603,19984,19013,12,49,910
18,금천구,주택 이외의 거처_오피스텔,11972,12015,11586,X,X,429,14683,14010,X,X,673
19,영등포구,주택 이외의 거처_오피스텔,27226,27276,26617,X,X,656,39668,38744,20,X,904
20,동작구,주택 이외의 거처_오피스텔,2554,2557,2511,X,X,45,3271,3201,6,X,64
21,관악구,주택 이외의 거처_오피스텔,15537,15948,15569,X,X,379,18860,18422,X,X,438
22,서초구,주택 이외의 거처_오피스텔,7595,7604,7274,X,X,328,9810,9424,16,X,370
23,강남구,주택 이외의 거처_오피스텔,12777,12799,12244,X,X,553,17423,16783,13,X,627
24,송파구,주택 이외의 거처_오피스텔,16381,16385,16045,X,X,339,21051,20619,6,X,426
25,강동구,주택 이외의 거처_오피스텔,7642,7646,7466,X,X,180,9965,9766,X,X,199

In [840]:
# 2022 주거실태_Data/거처의_종류_및_거처__가구__가구원__시군구
# 2022 전체
abode_family_2022_df
# 2022 계
abode_family_2022_df_sum
# 2022 주택_계
abode_family_2022_df_house_sum
# 2022 주택_단독주택
abode_family_2022_df_singlehouse
# 2022 주택_아파트
abode_family_2022_df_apt
# 2022 주택_연립주택
abode_family_2022_df_coalitionhouse
# 2022 주택_다세대주택
abode_family_2022_df_multihouse
# 2022 주택_비주거용 건물 내 주택
abode_family_2022_df_nonresident
# 2022 주택 이외의 거처_계
abode_family_2022_df_etchouse
# 2022 주택 이외의 거처_오피스텔
abode_family_2022_df_officetel

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택 이외의 거처_오피스텔,247968,248827,239830,32,5,8960,325992,314270,224,194,11304
1,종로구,주택 이외의 거처_오피스텔,5290,5297,4905,X,X,390,6460,5969,12,X,479
2,중구,주택 이외의 거처_오피스텔,5655,5695,5063,X,X,631,7597,6619,X,66,912
3,용산구,주택 이외의 거처_오피스텔,5697,5700,5505,X,X,195,7294,7058,X,X,236
4,성동구,주택 이외의 거처_오피스텔,6238,6242,5977,X,X,264,7764,7439,8,X,317
5,광진구,주택 이외의 거처_오피스텔,7728,7740,7444,X,X,296,9803,9446,X,X,357
6,동대문구,주택 이외의 거처_오피스텔,12653,12702,11727,X,X,973,15565,14304,6,42,1213
7,중랑구,주택 이외의 거처_오피스텔,3752,3757,3679,X,X,77,5029,4923,9,X,97
8,성북구,주택 이외의 거처_오피스텔,2396,2414,2311,X,X,103,3125,3001,X,X,124
9,강북구,주택 이외의 거처_오피스텔,1984,1984,1882,X,X,99,2454,2314,21,X,119
10,도봉구,주택 이외의 거처_오피스텔,4118,4119,4008,X,X,111,6246,6111,X,X,135
11,노원구,주택 이외의 거처_오피스텔,2375,2377,2293,X,X,82,3955,3837,6,20,92
12,은평구,주택 이외의 거처_오피스텔,8252,8255,8113,X,X,142,10549,10388,X,X,161
13,서대문구,주택 이외의 거처_오피스텔,6296,6305,5710,X,X,592,7696,6982,12,31,671
14,마포구,주택 이외의 거처_오피스텔,16155,16207,15211,5,X,991,20280,19084,33,X,1163
15,양천구,주택 이외의 거처_오피스텔,5807,5813,5687,X,X,125,12561,12402,7,X,152
16,강서구,주택 이외의 거처_오피스텔,30878,30895,30460,X,X,435,37503,36965,X,X,538
17,구로구,주택 이외의 거처_오피스텔,14939,14980,14371,X,X,608,21115,20199,6,X,910
18,금천구,주택 이외의 거처_오피스텔,13695,13740,13295,X,X,443,16847,16139,14,X,694
19,영등포구,주택 이외의 거처_오피스텔,29266,29313,28650,7,X,655,41789,40797,57,35,900
20,동작구,주택 이외의 거처_오피스텔,2714,2719,2670,X,X,48,3491,3415,6,X,70
21,관악구,주택 이외의 거처_오피스텔,16306,16760,16386,X,X,373,19611,19170,6,X,435
22,서초구,주택 이외의 거처_오피스텔,7846,7856,7552,X,X,304,10037,9698,X,X,339
23,강남구,주택 이외의 거처_오피스텔,13184,13201,12716,X,X,483,17602,17039,14,X,549
24,송파구,주택 이외의 거처_오피스텔,16637,16645,16313,X,X,331,21233,20817,7,X,409
25,강동구,주택 이외의 거처_오피스텔,8107,8111,7902,X,X,209,10386,10154,X,X,232

In [841]:
# 2023 주거실태_Data/거처의_종류_및_거처__가구__가구원__시군구
# 2023 전체
abode_family_2023_df
# 2023 계
abode_family_2023_df_sum
# 2023 주택_계
abode_family_2023_df_house_sum
# 2023 주택_단독주택
abode_family_2023_df_singlehouse
# 2023 주택_아파트
abode_family_2023_df_apt
# 2023 주택_연립주택
abode_family_2023_df_coalitionhouse
# 2023 주택_다세대주택
abode_family_2023_df_multihouse
# 2023 주택_비주거용 건물 내 주택
abode_family_2023_df_nonresident
# 2023 주택 이외의 거처_계
abode_family_2023_df_etchouse
# 2023 주택 이외의 거처_오피스텔
abode_family_2023_df_officetel

,구,거처의 종류,거처,가구-계,일반가구,집단가구-비친족 6인 이상 가구,집단가구-집단시설가구,외국인가구,가구원-계,일반가구원,집단가구원-비친족 6인 이상 가구,집단가구원-집단시설가구,외국인가구원
0,서울특별시,주택 이외의 거처_오피스텔,260659,261526,252038,34,X,9451,338349,326205,245,136,11763
1,종로구,주택 이외의 거처_오피스텔,5574,5585,5090,X,X,494,6691,6101,6,X,584
2,중구,주택 이외의 거처_오피스텔,6156,6190,5590,X,X,599,8042,7142,X,93,807
3,용산구,주택 이외의 거처_오피스텔,5849,5853,5672,X,X,179,7434,7195,26,X,213
4,성동구,주택 이외의 거처_오피스텔,6646,6651,6350,X,X,300,8113,7736,7,X,370
5,광진구,주택 이외의 거처_오피스텔,8307,8321,7944,X,X,376,10480,10027,6,X,447
6,동대문구,주택 이외의 거처_오피스텔,14135,14180,13020,X,X,1156,17219,15780,13,43,1383
7,중랑구,주택 이외의 거처_오피스텔,4203,4205,4119,X,X,85,5626,5495,8,X,123
8,성북구,주택 이외의 거처_오피스텔,2547,2563,2465,X,X,98,3286,3176,X,X,110
9,강북구,주택 이외의 거처_오피스텔,2320,2320,2097,X,X,222,2884,2592,7,X,285
10,도봉구,주택 이외의 거처_오피스텔,4560,4564,4444,X,X,120,6676,6535,X,X,141
11,노원구,주택 이외의 거처_오피스텔,2513,2517,2438,X,X,78,4030,3933,8,X,89
12,은평구,주택 이외의 거처_오피스텔,8811,8816,8644,X,X,172,11108,10909,X,X,199
13,서대문구,주택 이외의 거처_오피스텔,6714,6725,6042,X,X,682,8080,7309,6,X,765
14,마포구,주택 이외의 거처_오피스텔,16240,16301,15393,11,X,897,20409,19289,72,X,1048
15,양천구,주택 이외의 거처_오피스텔,5889,5895,5778,X,X,116,12610,12458,6,X,146
16,강서구,주택 이외의 거처_오피스텔,31729,31740,31313,X,X,427,38257,37738,X,X,519
17,구로구,주택 이외의 거처_오피스텔,15730,15769,15155,X,X,612,21949,21009,12,X,928
18,금천구,주택 이외의 거처_오피스텔,14837,14874,14432,X,X,441,18224,17506,6,X,712
19,영등포구,주택 이외의 거처_오피스텔,30913,30980,30264,5,X,711,43179,42193,39,X,947
20,동작구,주택 이외의 거처_오피스텔,2746,2750,2698,X,X,52,3468,3401,X,X,67
21,관악구,주택 이외의 거처_오피스텔,16866,17319,16947,X,X,370,20028,19581,17,X,430
22,서초구,주택 이외의 거처_오피스텔,8153,8160,7860,X,X,300,10356,10021,X,X,335
23,강남구,주택 이외의 거처_오피스텔,13305,13322,12867,X,X,454,17544,17033,6,X,505
24,송파구,주택 이외의 거처_오피스텔,17516,17523,17216,X,X,307,21978,21606,X,X,372
25,강동구,주택 이외의 거처_오피스텔,8400,8403,8200,X,X,203,10678,10440,X,X,238

In [842]:
abode_house_category[:10]

,행정구역별(읍면동),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,...,2022.8,2023,2023.1,2023.2,2023.3,2023.4,2023.5,2023.6,2023.7,2023.8
0,행정구역별(읍면동),주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택,...,비주거용 건물 내 주택,주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
1,서울특별시,3068494,299473,62648,185338,51487,1818214,110239,812403,28165,...,27401,3155331,291582,59966,180233,51383,1886515,111038,838895,27301
2,종로구,46885,11987,6367,4013,1607,15775,5490,12725,908,...,881,47025,11620,6095,3931,1594,16300,5544,12695,866
3,중구,42319,5865,2218,2388,1259,26327,1896,7370,861,...,833,44191,5735,2164,2340,1231,28126,1873,7625,832
4,용산구,75739,13716,4794,7193,1729,38631,3911,18785,696,...,665,77734,13370,4666,7010,1694,39806,3921,19978,659
5,성동구,91033,9916,1820,6337,1759,68090,1976,10031,1020,...,970,91252,9345,1719,5930,1696,68191,2017,10735,964
6,광진구,91432,15096,613,11478,3005,32571,4119,38226,1420,...,1394,95286,14861,617,11243,3001,35072,4173,39797,1383
7,동대문구,104287,16388,4083,9512,2793,66512,3287,16569,1531,...,1498,110169,16085,3988,9333,2764,71810,3301,17465,1508
8,중랑구,114488,17995,1701,12967,3327,56651,4423,33916,1503,...,1484,119961,17698,1662,12720,3316,59984,4465,36336,1478
9,성북구,140138,21661,9240,9476,2945,80967,6230,29900,1380,...,1353,143240,20848,8772,9148,2928,83728,6362,30957,1345

In [843]:
category_2021 = abode_house_category.columns.str.contains('2021')
category_2021[0] = True
category_2021[1] = True

category_2022 = abode_house_category.columns.str.contains('2022')
category_2022[0] = True
category_2022[1] = True

category_2023 = abode_house_category.columns.str.contains('2023')
category_2023[0] = True
category_2023[1] = True

In [844]:
abode_house_category_2021_df = abode_house_category.loc[:, category_2021]
abode_house_category_2022_df = abode_house_category.loc[:, category_2022]
abode_house_category_2023_df = abode_house_category.loc[:, category_2023]

house_col_2021 = abode_house_category_2021_df.loc[0].values
house_col_2022 = abode_house_category_2022_df.loc[0].values
house_col_2023 = abode_house_category_2023_df.loc[0].values

abode_house_category_2021_df.columns = house_col_2021
abode_house_category_2022_df.columns = house_col_2022
abode_house_category_2023_df.columns = house_col_2023

display(abode_house_category_2021_df[:3])
display(abode_house_category_2022_df[:3])
display(abode_house_category_2023_df[:3])

,행정구역별(읍면동),주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
0,행정구역별(읍면동),주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
1,서울특별시,3068494,299473,62648,185338,51487,1818214,110239,812403,28165
2,종로구,46885,11987,6367,4013,1607,15775,5490,12725,908

,행정구역별(읍면동),주택,주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
0,행정구역별(읍면동),주택,주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
1,서울특별시,3068494,3111323,293489,60861,181399,51229,1851242,110418,828773,27401
2,종로구,46885,46810,11823,6259,3959,1605,15923,5532,12651,881

,행정구역별(읍면동),주택,주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
0,행정구역별(읍면동),주택,주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
1,서울특별시,3068494,3155331,291582,59966,180233,51383,1886515,111038,838895,27301
2,종로구,46885,47025,11620,6095,3931,1594,16300,5544,12695,866

In [845]:
abode_house_category_2021_df = ManagedDataFrame('abode_house_category_2021', abode_house_category_2021_df)
abode_house_category_2022_df = ManagedDataFrame('abode_house_category_2022', abode_house_category_2022_df)
abode_house_category_2023_df = ManagedDataFrame('abode_house_category_2023', abode_house_category_2023_df)

abode_house_category_2021_df.delete_row_once()
abode_house_category_2022_df.delete_row_once()
abode_house_category_2023_df.delete_row_once()

abode_house_category_2021: 0행이 삭제되었습니다.
abode_house_category_2022: 0행이 삭제되었습니다.
abode_house_category_2023: 0행이 삭제되었습니다.

In [846]:
abode_house_category_2021_df = abode_house_category_2021_df.df
abode_house_category_2022_df = abode_house_category_2022_df.df
abode_house_category_2023_df = abode_house_category_2023_df.df

In [847]:
abode_house_category_2021_df.columns

Index(['행정구역별(읍면동)', '주택', '단독주택-계', '단독주택-일반', '단독주택-다가구', '단독주택-영업겸용', '아파트',
       '연립주택', '다세대주택', '비주거용 건물 내 주택'],
      dtype='object')

In [848]:
abode_house_category_2021_df

,행정구역별(읍면동),주택,단독주택-계,단독주택-일반,단독주택-다가구,단독주택-영업겸용,아파트,연립주택,다세대주택,비주거용 건물 내 주택
1,서울특별시,3068494,299473,62648,185338,51487,1818214,110239,812403,28165
2,종로구,46885,11987,6367,4013,1607,15775,5490,12725,908
3,중구,42319,5865,2218,2388,1259,26327,1896,7370,861
4,용산구,75739,13716,4794,7193,1729,38631,3911,18785,696
5,성동구,91033,9916,1820,6337,1759,68090,1976,10031,1020
6,광진구,91432,15096,613,11478,3005,32571,4119,38226,1420
7,동대문구,104287,16388,4083,9512,2793,66512,3287,16569,1531
8,중랑구,114488,17995,1701,12967,3327,56651,4423,33916,1503
9,성북구,140138,21661,9240,9476,2945,80967,6230,29900,1380
10,강북구,97840,17261,4690,10072,2499,34875,4834,39859,1011
11,도봉구,107959,8449,1327,5485,1637,65305,4201,29289,715
12,노원구,190352,6553,2097,3295,1161,164583,3444,15089,683
13,은평구,156710,14627,4073,7977,2577,64712,5842,70307,1222
14,서대문구,102024,12356,2652,7976,1728,55231,5440,28094,903
15,마포구,126005,11171,2679,6095,2397,73836,3127,36364,1507
16,양천구,145843,7597,600,5237,1760,92278,3954,41185,829
17,강서구,199556,10060,1201,6710,2149,116965,4752,66670,1109
18,구로구,134367,11316,1525,8032,1759,83841,7495,30883,832
19,금천구,71117,8645,348,7110,1187,32995,3954,25002,521
20,영등포구,110396,14054,2058,9647,2349,77550,1501,16134,1157
21,동작구,119534,14362,2522,9716,2124,65242,5209,33669,1052
22,관악구,127783,21109,3514,14334,3261,55524,6214,43014,1922
23,서초구,135171,5326,831,3472,1023,95298,5286,28062,1199
24,강남구,175536,6500,773,4338,1389,128437,5735,33232,1632
25,송파구,215731,7791,427,5478,1886,131487,4720,70238,1495
26,강동구,146249,9672,495,7000,2177,94531,3199,37790,1057

In [849]:
abode_house_category_2021_df = abode_house_category_2021_df.rename(columns={'행정구역별(읍면동)':'구'})
abode_house_category_2022_df = abode_house_category_2022_df.rename(columns={'행정구역별(읍면동)':'구'})
abode_house_category_2023_df = abode_house_category_2023_df.rename(columns={'행정구역별(읍면동)':'구'})

In [850]:
'''
def drop_columns_once(df, column_names):
    if not hasattr(drop_columns_once, "executed"):
        drop_columns_once.executed = False

    if not drop_columns_once.executed:
        # 컬럼 삭제
        result = df.drop(columns=column_names)
        drop_columns_once.executed = True
        return result
    else:
        print("This function can only be executed once.")
        return df
'''

'\ndef drop_columns_once(df, column_names):\n    if not hasattr(drop_columns_once, "executed"):\n        drop_columns_once.executed = False\n\n    if not drop_columns_once.executed:\n        # 컬럼 삭제\n        result = df.drop(columns=column_names)\n        drop_columns_once.executed = True\n        return result\n    else:\n        print("This function can only be executed once.")\n        return df\n'

In [851]:
abode_house_category_2021_df = abode_house_category_2021_df.drop(columns=["단독주택-일반", "단독주택-다가구", "단독주택-영업겸용"])
abode_house_category_2022_df = abode_house_category_2022_df.drop(columns=["단독주택-일반", "단독주택-다가구", "단독주택-영업겸용"])
abode_house_category_2023_df = abode_house_category_2023_df.drop(columns=["단독주택-일반", "단독주택-다가구", "단독주택-영업겸용"])

In [852]:
abode_house_category_2021_df = abode_house_category_2021_df.rename(columns={'단독주택-계':'단독주택'})
abode_house_category_2022_df = abode_house_category_2022_df.rename(columns={'단독주택-계':'단독주택'})
abode_house_category_2023_df = abode_house_category_2023_df.rename(columns={'단독주택-계':'단독주택'})

In [853]:
display(abode_house_category_2021_df)

        구       주택    단독주택      아파트    연립주택   다세대주택 비주거용 건물 내 주택
1   서울특별시  3068494  299473  1818214  110239  812403        28165
2     종로구    46885   11987    15775    5490   12725          908
3      중구    42319    5865    26327    1896    7370          861
4     용산구    75739   13716    38631    3911   18785          696
5     성동구    91033    9916    68090    1976   10031         1020
6     광진구    91432   15096    32571    4119   38226         1420
7    동대문구   104287   16388    66512    3287   16569         1531
8     중랑구   114488   17995    56651    4423   33916         1503
9     성북구   140138   21661    80967    6230   29900         1380
10    강북구    97840   17261    34875    4834   39859         1011
11    도봉구   107959    8449    65305    4201   29289          715
12    노원구   190352    6553   164583    3444   15089          683
13    은평구   156710   14627    64712    5842   70307         1222
14   서대문구   102024   12356    55231    5440   28094          903
15    마포구   126005   11171    73836    3127   36364         1507
16    양천구   145843    7597    92278    3954   41185          829
17    강서구   199556   10060   116965    4752   66670         1109
18    구로구   134367   11316    83841    7495   30883          832
19    금천구    71117    8645    32995    3954   25002          521
20   영등포구   110396   14054    77550    1501   16134         1157
21    동작구   119534   14362    65242    5209   33669         1052
22    관악구   127783   21109    55524    6214   43014         1922
23    서초구   135171    5326    95298    5286   28062         1199
24    강남구   175536    6500   128437    5735   33232         1632
25    송파구   215731    7791   131487    4720   70238         1495
26    강동구   146249    9672    94531    3199   37790         1057

In [854]:
display(abode_house_category_2022_df)

        구       주택       주택    단독주택      아파트    연립주택   다세대주택 비주거용 건물 내 주택
1   서울특별시  3068494  3111323  293489  1851242  110418  828773        27401
2     종로구    46885    46810   11823    15923    5532   12651          881
3      중구    42319    42401    5751    26366    1879    7572          833
4     용산구    75739    77116   13450    39805    3887   19309          665
5     성동구    91033    90740    9410    68125    2058   10177          970
6     광진구    91432    93555   14901    33862    4158   39240         1394
7    동대문구   104287   106441   16110    68445    3298   17090         1498
8     중랑구   114488   118357   17751    59121    4466   35535         1484
9     성북구   140138   142602   20892    83701    6146   30510         1353
10    강북구    97840    99477   17134    35997    4867   40483          996
11    도봉구   107959   109190    8381    65664    4229   30210          706
12    노원구   190352   192022    6519   166131    3487   15212          673
13    은평구   156710   160630   14469    67705    5831   71420         1205
14   서대문구   102024   105047   12239    57952    5457   28507          892
15    마포구   126005   127057   10720    74959    3080   36850         1448
16    양천구   145843   146886    7519    92705    3965   41885          812
17    강서구   199556   201611    9717   117945    4751   68125         1073
18    구로구   134367   137403   11182    86340    7518   31551          812
19    금천구    71117    72044    8507    33231    3929   25869          508
20   영등포구   110396   112068   13623    79110    1581   16644         1110
21    동작구   119534   120374   14058    65921    5157   34212         1026
22    관악구   127783   129778   20855    57133    6224   43684         1882
23    서초구   135171   132706    5187    92711    5287   28377         1144
24    강남구   175536   178493    6223   131599    5649   33469         1553
25    송파구   215731   220192    7657   135070    4766   71257         1442
26    강동구   146249   148323    9411    95721    3216   38934         1041

In [855]:
display(abode_house_category_2023_df)

        구       주택       주택    단독주택      아파트    연립주택   다세대주택 비주거용 건물 내 주택
1   서울특별시  3068494  3155331  291582  1886515  111038  838895        27301
2     종로구    46885    47025   11620    16300    5544   12695          866
3      중구    42319    44191    5735    28126    1873    7625          832
4     용산구    75739    77734   13370    39806    3921   19978          659
5     성동구    91033    91252    9345    68191    2017   10735          964
6     광진구    91432    95286   14861    35072    4173   39797         1383
7    동대문구   104287   110169   16085    71810    3301   17465         1508
8     중랑구   114488   119961   17698    59984    4465   36336         1478
9     성북구   140138   143240   20848    83728    6362   30957         1345
10    강북구    97840   100418   17068    36541    4903   40911          995
11    도봉구   107959   109465    8290    65690    4250   30536          699
12    노원구   190352   192926    6356   167100    3530   15272          668
13    은평구   156710   165462   14350    72002    5826   72085         1199
14   서대문구   102024   106640   12188    59417    5460   28686          889
15    마포구   126005   129421   10626    77146    3026   37175         1448
16    양천구   145843   147619    7517    93107    3968   42222          805
17    강서구   199556   203887    9651   119305    4814   69041         1076
18    구로구   134367   137863   11083    86368    7631   31973          808
19    금천구    71117    72901    8486    33513    4005   26393          504
20   영등포구   110396   114173   13593    80513    1760   17198         1109
21    동작구   119534   122058   13829    67675    5061   34474         1019
22    관악구   127783   130244   20630    57467    6196   44071         1880
23    서초구   135171   136528    5161    96291    5301   28630         1145
24    강남구   175536   184608    6161   138025    5645   33229         1548
25    송파구   215731   221082    7621   135448    4754   71827         1432
26    강동구   146249   151178    9410    97890    3252   39584         1042